extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet consectetur adipisicing elit. Voluptas, maxime? Quo dignissimos nihil reiciendis modi quidem sed aliquam repudiandae, ducimus dicta at aut voluptatum maiores velit ullam fuga, corporis explicabo.

                p ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi officia, quos quisquam molestias odit quae harum fugit eveniet vel id, nam ullam quia at corporis fugiat necessitatibus mollitia sint.

                p ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi officia, quos quisquam molestias odit quae harum fugit eveniet vel id, nam ullam quia at corporis fugiat necessitatibus mollitia sint.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p quos quisquam molestias odit quae harum fugit eveniet vel id, nam ullam quia at corporis fugiat necessitatibus mollitia sint.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p quos quisquam molestias odit quae harum fugit eveniet vel id, nam ullam quia at corporis fugiat necessitatibus mollitia sint.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p quos quisquam molestias odit quae harum fugit eveniet vel id, nam ullam quia at corporis fugiat necessitatibus mollitia sint.