extends ./layout/index

block contenido
    h1(class="mt-5 text-center") #{pagina}
    main.container.mt-5
        include ./layout/bloque_viajes
        
    
            //- para ver si hay conexion
            //- p= JSON.stringify(viajes)